.form{
  margin: 33px 0;
}
.form > div{
  justify-content: center;
}
.input_wrap{
  padding-right: 0;
}
.input_wrap input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  border-color: rgb(150, 183, 255);
}
.btn_wrap{
  padding-left: 0;
}
.btn_wrap button{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgb(150, 183, 255);
  border-color: rgb(150, 183, 255);
  color: #fff;
}
.btn_wrap button:hover{
  background-color: rgb(92, 130, 211);
  border-color: rgb(92, 130, 211);

}