.wrapper{
  padding: 0 20px;
}
.app{
  margin-top: 70px;
}
h1{
  text-align: center;
  padding: 20px 0 50px;
}
.box{
  box-shadow: 0 0 8px rgba(62, 107, 255, 0.2);
  padding: 50px;
  border-radius: 20px;
}